---
const { title } = Astro.props;
---

<nav class="navigation container">
  <div class="logo">
    <a href="/" class="" href="#">
      <img alt="Pokedex App" src="/images/pokedex-logo.png" width="120" />
    </a>
  </div>

  <div class="nav-items">
    <a href="/" class="button is-ghost">Home</a>
    <a href="/about" class="button is-ghost">About</a>
  </div>
</nav>

<style></style>
