*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.headline {
  font-weight: 700;
  font-size: 100px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post {
  font-family: "Georgia", "Times New Roman", Times, serif;
  margin-bottom: 45px;
}
