---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Pokedex App - About">
  <div class="content about-page">
    <h1>About</h1>
    <p>
      This app serves as an objective example for comparison of different web
      frontend frameworks (Next.js, Nuxt, SvelteKit). By developing the same
      (identical) app three times, one can estimate more closely the strenghts
      and weaknesses of a certain framework.
    </p>
  </div>
</Layout>

<style></style>
