html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  justify-items: stretch;
}

.navigation {
  padding: 24px;
}

.footer {
  padding: 24px 16px;
  background-color: transparent;
}

/* Media Queries */

@media screen and (max-width: 1080px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
